/*common*/
html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

body {
    color: black;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.margin10 {
    margin-left: 10%;
    margin-right: 10%;
}

.item {
    scroll-snap-align: start;
}

h2 {
    text-align: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    background: linear-gradient(rgb(250, 148, 165), transparent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    overflow: no-content;
}

.bookmark {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-content: center;
}

#header-left {
    display: flex;
    /* border: 1px solid black;*/
    padding: 1% 0; 
    margin: 0 2%;
    width: 20%;
    font-family: "Sofia", sans-serif;
}

#header-right {
    display: flex;
    /* border: 1px solid black;*/
    padding: 1% 0; 
    margin: 0 2%;
    width: 80%;
    justify-content: flex-end;
}

.link {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 10px 10px;
    padding: 10px;
    text-decoration: none;
    border: 5px solid transparent;
    border-radius: 12px;
    font-weight: bold;
}

.link:hover {
    color: rgb(255, 239, 242);
}

/*footer*/

#contact {
    scroll-snap-stop: always;
    scroll-snap-align: end;
    /* border-top: 5px dotted pink; */
    /* border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%; */
    background: linear-gradient(white, rgb(247, 214, 220));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#contact span {
    width: 50vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#contact img {
    height: 4vh;
}

/*index.html*/
/*introduction*/
#introduction {
    height: 100vh;
    display: flex;
    align-items: center;
}

#introduction .inner {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#introduction .picture {
    display: block;
    /*padding-top: 5%;*/
    margin-left: auto;
    margin-right: 5% ;
    width: 25%;
    border-radius: 50% 20% / 10% 40%;
}

#introduction .introduction {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#introduction .title {
    margin: auto auto 0 auto;
    font-size: 50px;
    font-weight: bold;
    color: pink;
    font-family: cursive;
}

.about_me {
    margin: 16px auto auto auto;
    font-family: sans-serif;
    line-height: 120%;
    color: rgb(173, 64, 100);
}

/*capability*/

#capability {
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(white, rgb(247, 214, 220), white);
    height: 100vh;
}

#capability table {
    display: table;
    text-align: center;
    margin-top: 20vh;
    width: 70%;
    height: 60vh;
}

#capability thead {
    height: 25%;
    font-size: 50px;
    color: rgb(211, 128, 156);
    font-weight: bold;
    font-family: cursive;
}

#capability tr {
    height: 25%;
}

#capability td {
    width: 25%;
    vertical-align: middle;
}

#capability tr.row1 img {
    width: 30%;
    box-sizing: border-box;
}

#capability tr.row2 img {
    width: 50%;
    box-sizing: border-box;
}

#capability tr.row3 img {
    width: 30%;
    box-sizing: border-box;
}

/*portfolio.html*/

/*Greetings*/

#Greetings {
    margin-right: 10%;
    margin-left: 10%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#Greetings>.hello {
    clear: left;
}

#Greetings .para1 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: lighter;
    color: pink;
    line-height: 120%;
}

#Greetings #name,
#dream {
    text-shadow: 2px 2px 5px red;
}

#Greetings .para2 {
    font-size: 27px;
    width: 800px;
    font-family: sans-serif;
    margin-top: 50px;
    /* font-style: italic; */
    line-height: 1.2;
    color: rosybrown;
}

/*recent works*/

#works th {
    font-size: 30px;
    text-align: right;
    color: rosybrown;
    text-shadow: 2px 2px 2px rgb(196, 169, 169);
    border-bottom: 5px dotted rosybrown;
    padding-bottom: 2%;
    margin-bottom: 3%;
}

#works .table {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#works table {
    height: 80vh;
    width: 100%;
    text-align: center;
}

#works td {
    vertical-align: middle;
}

#works .row1>.image img {
    width: 60%;
    border-radius: 10%;
}

#works .row2>.image img {
    width: 60%;
    border-radius: 10%;
}

#works .row3>.image img {
    width: 60%;
    border-radius: 10%;
}


#works .discription h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2%;
    color: rosybrown;
}

#works .discription p {
    padding: 0 20%;
    box-sizing: border-box;
    text-align: justify;
    color: rosybrown;
    line-height: 150%;
}

#works table td {
    border: 5px dotted rosybrown;

}

#works table tr:first-child td {
    border-top: 0;
    border-bottom: 0;
}

#works table tr td:first-child {
    border-left: 0;
}

#works table tr:last-child td {
    border: 0;
}

#works table tr td:last-child {
    border-right: 0;
}

/*resume.html*/

#resume {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume iframe {
    width: 80%;
    height: 70vh;
}

/*contact.html*/

#sendme {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendme .Say {
    font-size: 100px;
    font-family: cursive;
    color: pink;
}

#sendme .days {
    font-size: 20px;
    font-family: cursive;
    color: pink;
    margin: 5% 0;
}

#sendme form {
    display: block;
}

#sendme label {
    font-size: 20px;
    font-weight: bold;
    color: pink;
}